@import '../../../styles/variables.css';

.bible-ref {
  color: var(--toolbar-active-fg);
  background-color: var(--bible-ref-bg);
  padding: 3px 6px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}